---
layout: default
---

<div class="posts">
  {% assign published_posts = site.posts | where_exp: "item", "item.published != false" %}
  {% for post in published_posts %}
    {% assign words = post.content | number_of_words %}
    {% assign read_time = words | divided_by: 200 %}
    {% if read_time < 1 %}
      {% assign read_time = 1 %}
    {% endif %}
    <div class="post-wrapper" data-href="{{ site.baseurl }}{{ post.url }}" role="link" tabindex="0">
      <article class="post">
        <h1>{{ post.title }}</h1>
        <div class="post-meta">Date: {{ post.date | date: "%B %e, %Y" }} | Estimated reading time: {{ read_time }} min</div>
        <div class="entry">
          {{ post.excerpt }}
        </div>
      </article>
    </div>
  {% endfor %}
</div>